[submodule "sharkcop-api"]
	path = sharkcop-api
	url = https://github.com/yitteam/sharkcop-api
[submodule "sharkcop-webinspector"]
	path = sharkcop-webinspector
	url = https://github.com/yitteam/sharkcop-webinspector
